



  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    
    font-family: 'Poppins', sans-serif;
    padding: 4px;
   
}



div {
    text-align: center;
     letter-spacing: 10px;
     background-color: rgb(53, 60, 67);
    color: azure; 
   height: 50px;
   
    }
    .fa{
        position: relative;
        right: 580px;
        width: 50px;
    }
    .container-fluid{
        display: flex;
        background-color: rgb(197, 195, 195);
        height: 600px;
        gap: 40px;
    
        
    }
    .box-1{
        justify-content: space-around;
        position: relative;
        left: 600px;
        width: 900px;
        height: 35px;
        top: 50px;
        border-radius: 10px 10px 10px 10px;
        display: flex;
    
    }
    h4{
       padding: 10px 10px 10px 10px;
       bottom: 10px;
          color: rgb(185, 184, 184);
       position: relative;
       right: 150px;
    }
    .box-2{
        width: 500px;
        height: 370px;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        right: 500px;
        top: 100px;
        border-radius: 15px 15px 15px 15px;
        display: flex;
        
    }
    .box-3,.box-4,.box-5{
        width: 300px;
        height: 100px;
        position: relative;
        right: 250px;
        top: 150px;
        border-radius: 15px 15px 15px 15px;
        row-gap: 50px;
        
    }
    .box-6{
        width:600px;
        height: 100px;
       position: absolute;
       top: 380px;
       left: 590px;
       border-radius: 15px 15px 15px 15px;
    }
